<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Admin</title>
</head>
<body>
{#<div class="container" style="width: 800px; margin: 100px auto">#}
<nav class="navbar navbar-light bg-light" style="width: 800px; margin: 50px auto">
    <form class="form-inline" method="post">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

</form>
<table class="table table-striped" style="width: 800px;margin: 10px auto">
    <thead>
    </nav>
    <tr>
        <th scope="col">name</th>
        <th scope="col">course</th>
        <th scope="col">mobile</th>
        <th scope="col">age</th>
        <th scope="col">manage</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    {% for stu in students %}
        <tr>
            <th scope="row">{{ stu.name }}</th>
            <td>{{ stu.course }}</td>
            <td>{{ stu.mobile }}</td>
            <td>{{ stu.age }}</td>
            <td><a href="/delete?name={{ stu.name }}">delete</a> <a href="/modify?name={{ stu.name }}">change</a></td>
        </tr>
    {% endfor %}
</table>
<div class="container" style="width: 800px; margin: 100px auto">
    <!-- Content here -->
    <div class="row">
        <div class="col">
            <a href="/add">Add</a>
        </div>
    </div>
</div>
{#</div>#}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>