<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
        .item{
            background-color: #D5E1F2;
            text-align: center;
            font-size: x-large;
        }
        .container {
            background-color: #F2F4F7;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="item">
            <h1>
                Welcome to Student Management System!
            </h1>
            <a href="/login">
                <p>
                    press to login
                </p>
            </a>
        </div>
        <div class="row">
            <div class="col-12 mb-4 col-md-6">
                <div class="item h-100 w-100">
                    <img src="https://picsum.photos/300/200/?random=10">
                    <h3>title1</h3>
                    <p>A Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad magni eveniet ipsa fugit cupiditate!</p>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6 order-md-last">
                <div class="item h-100 w-100">
                    <img src="https://picsum.photos/300/200/?random=10">
                    <h3>title2</h3>
                    <p>B Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad magni eveniet ipsa fugit cupiditate!</p>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6">
                <div class="item h-100 w-100">
                    <img src="https://picsum.photos/300/200/?random=10">
                    <h3>title3</h3>
                    <p>C Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad magni eveniet ipsa fugit cupiditate!</p>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6 order-md-last">
                <div class="item h-100 w-100">
                    <img src="https://picsum.photos/300/200/?random=10">
                    <h3>title4</h3>
                    <p>D Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad magni eveniet ipsa fugit cupiditate!</p>
                </div>
            </div>
        </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
